
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}


header.header {
    background-color: #E6F0E7;
    width: 100%;
    height: 35px;
    position: fixed;
    z-index: 100;
}

header a {
    position: fixed;
    text-decoration: none;
    right: 15px;
    top: 7px;
}

header a.nosotros {
    right: 100px;
}

.banner img {
    position: fixed;
    width: fit-content;
    max-height: 187px;
    min-width: 100%;
    z-index: 1;
    
}

.imgusuario img {
    position: relative;
    top:  120px;
    left: 272px;    
    z-index: 10;

}

.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    height:calc(100% - 176px);
    width: 317px;
    padding: 10px 14px;
    background: #f7fcf4;
}

.sidebar .usuarionombre {
    position: relative;
    top: 97px;
    left: 12px;
}

.sidebar .usuariodescripcion {
    position: relative;
    top: 133px;
    width: 247px;
    left: 17px;
    
}

.sidebar .usuariolocalizacion {
    position: relative;
    top: 150px;
    left: 18px;
}


.menu {
    position: relative;
    top: 192px;
    left: 51px;
    

}

.menulink {
    height: 41px;
    margin-top: 2px;
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #d7e4d8;
    width: 251px;
}

.menulink a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.menulink .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.menulink:hover {
    background: #bccab3;
}

.cerrarsesion {
    position: relative;
    top: 357px;
    left: 51px;
}

.contenido {
    position: relative;
    height: 100%;
    width: calc(100% - 250px);
    left: 250px;
    top: 50px;
}

.barraprincipal {
    position: relative;
    list-style: none;
    display: flex;
    top: -15px;
    left: 268px;
    width: fit-content;
}

.barraprincipal li {
    margin: 9px;
}

.barraprincipal li a {
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    padding: 30px;
    text-align: center;
    height: 43px;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 5px #999;
}

.contenedor {
    width: 1141px;
    height: 562px;
    position: relative;
    top: 74px;
    left: 524px;
    overflow: hidden;
    overflow-y: auto;

}

.contenedor .tarjeta {
    background-color: #d7e4d8;
    height: 167px;
    margin-bottom: 10px;

}

.tarjeta {
    max-height: 167px;
}
.tarjeta img {
    margin: 20px;
}

.tarjetatexto {
    position: relative;
    left: 192px;
    top: -92px;
    width: 648px;
}

.tarjeta h3 {
    position: relative;
    left: 192px;
    top: -145px;
}

.tarjetaicono {
    position: relative;
    left: 1048px;
    top: -85px;
    font-size: 26px;

}

.titulocomida {
    position: relative;
    left: 536px;
    top: 80px;
    width: 541px;
    height: 47px;
    background-color: white;
    padding: 8px;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}

.titulocomida h2 {
    font-weight: 500;
    left: 12px;
    position: relative;
}

.tarjeta img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    top: -2px;
    position: relative;
    left: 15px;
}

.tarjeta p {
    position: relative;
    top: -15px;
    left: 37px;
    font-weight: 500;
}

.tarjetavaloracion {
    position: relative;
    top: -88px;
    left: 860px;
    width: fit-content;
    height: 0px;
    font-size: 29px;
}

.tarjetavaloracion i {
    color: rgb(255, 231, 94);
}
