
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}


header.header {
    background-color: #E6F0E7;
    width: 100%;
    height: 35px;
    position: fixed;
    z-index: 100;
}

header a {
    position: fixed;
    text-decoration: none;
    right: 15px;
    top: 7px;
}

header a.nosotros {
    right: 100px;
}

.banner img {
    position: fixed;
    width: fit-content;
    max-height: 187px;
    min-width: 100%;
    z-index: 1;
    
}

.imgusuario img {
    position: sticky;
    top:  120px;
    left: 272px;    
    z-index: 10;

}

.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    height:calc(100% - 176px);
    width: 317px;
    padding: 10px 14px;
    background: #f7fcf4;
}

.sidebar .usuarionombre {
    position: relative;
    top: 97px;
    left: 12px;
}

.sidebar .usuariodescripcion {
    position: relative;
    top: 133px;
    width: 247px;
    left: 17px;
    
}

.sidebar .usuariolocalizacion {
    position: relative;
    top: 150px;
    left: 18px;
}


.menu {
    position: relative;
    top: 192px;
    left: 51px;
    

}

.menulink {
    height: 41px;
    margin-top: 2px;
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #d7e4d8;
    width: 251px;
}

.menulink a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.menulink .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.menulink:hover {
    background: #bccab3;
}

.cerrarsesion {
    position: relative;
    top: 357px;
    left: 51px;
}

.contenido {
    position: relative;
    height: 100%;
    width: calc(100% - 250px);
    left: 250px;
    top: 50px;
}

.barraprincipal {
    position: relative;
    list-style: none;
    display: flex;
    top: -15px;
    left: 268px;
    width: fit-content;
}

.barraprincipal li {
    margin: 9px;
}

.barraprincipal li a {
    border: 1px solid black;
    border-radius: 8px;
    display: inline-block;
    padding: 30px;
    text-align: center;
    height: 43px;
    text-decoration: none;
    color: black;
    box-shadow: 2px 2px 5px #999;
}

.contenedor {
    width: 1141px;
    height: 562px;
    position: relative;
    top: 74px;
    left: 524px;
    overflow: hidden;
    overflow-y: auto;

}

.contenedor .tarjeta {
    background-color: #d7e4d8;
    height: 167px;
    margin-bottom: 10px;

}

.tarjeta {
    max-height: 167px;
}
.tarjeta img {
    margin: 20px;
}

.tarjetatexto {
    position: relative;
    left: 192px;
    top: -92px;
    width: 648px;
}

.tarjeta h3 {
    position: relative;
    left: 192px;
    top: -145px;
}

.tarjetaicono {
    position: relative;
    left: 1048px;
    top: -85px;
    font-size: 26px;

}

.titulocomida {
    position: relative;
    left: 536px;
    top: 80px;
    width: 541px;
    height: 47px;
    background-color: white;
    padding: 8px;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}

.titulocomida h2 {
    font-weight: 500;
    left: 12px;
    position: relative;
}

.tarjeta img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    top: -2px;
    position: relative;
    left: 15px;
}

.tarjeta p {
    position: relative;
    top: -15px;
    left: 37px;
    font-weight: 500;
}

.tarjetavaloracion {
    position: relative;
    top: -88px;
    left: 860px;
    width: fit-content;
    height: 0px;
    font-size: 29px;
}

.tarjetavaloracion i {
    color: rgb(255, 231, 94);
}


@media screen and (max-width:1200px) {

    .barraprincipal li a {
        padding: 8px;
     
      }
    
    .barraprincipal {
        top: -8px;
        left: 137px;
    }

    .titulocomida {
        left: 411px;
    }

    .contenedor {
        left: 390px;
        width: 715px;
    }

    .tarjetatexto {
        top: -109px;
        left: 154px;
        width: 368px;
    }

    .tarjetavaloracion {
        top: -98px;
        left: 415px;
    }

    .tarjetaicono {
        left: 635px;
        top: -93px;
    }


}


@media screen and (max-width:800px) {
    
    .barraprincipal li a {
        padding: 8px;
     
      }
    
    .barraprincipal {
        top: -8px;
        left: 137px;
    }

    .titulocomida {
        top: 79px;
        width: 388px;
        height: 81px;
        left: 372px;
    }

    .contenedor {
        width: 428px;
        left: 353px;
    }

    .tarjetavaloracion  {
        top: -69px;
        left: 233px;
        font-size: 20px;
        
    }

    .tarjetatexto {
        left: 118px;
        top: -102px;
        width: 267px;
        font-size: 12px;
    }

    .tarjetaicono {
        left: 366px;
        top: -69px;
        font-size: 19px;
    }


}


@media screen and (max-width:412px) {

    .imgusuario img {
        left: 19px;
    }

    .sidebar {
        width: 122px;
        z-index: 8;
    }

    .sidebar .usuarionombre {
        position: relative;
        top: 50px;
        left: -5px;
        font-size: 13px;
      }
      
    .usuariodescripcion {
              display: none;
          }
    .usuariolocalizacion {
        display: none;
    }

    .menulink {
        width: 56px;
    }

    .menulink span {
        display: none;
    }

    .barraprincipal {
        display: block;
        top: 54px;
        left: -146px;
      }

      .barraprincipal li {
        margin: 9px;

      }

      .barraprincipal li a {
        padding: 11px;
     
      }

      .descripcionreceta {
        background-color: #d7e4d8;
        width: 262px;
        height: 619px;
        position: relative;
        top: 66px;
        left: -116px;
      }

      .receta {
        height: 335px;
      }

      .receta h3 {
        top: 25px;
        left: 17px;
        font-size: 22px;
        width: 112px;

      }

      .receta img {
        top: 57px;
        left: 40px;
      }

      .instrucciones {
        top: 336px;
        left: 43px;
        width: 189px;
        height: 277px;
      }
      
      .instrucciones h2 {
        top: 0px;
        left: 2px;
      }

      .ingredientes {
        top: -249px;
        left: 31px;
      }

      .descripcionreceta {
        height: 1860px;
      }

      .recetaiconos {
        top: 1012px;
        left: 58px;
      }

      .titulocomida {
            left: 150px;
            top: 125px;
            width: 232px;
            height: 158px;
      }

      .contenedor {
        top: 79px;
        left: 140px;
        width: 251px;
      }

      .contenedor .tarjeta {
        max-height: 529px;
        height: 529px;
      }

      .tarjeta img {
        left: 60px; 
      }

      .tarjetatexto {
        position: relative;
        left: -19px;
        top: 25px;
        width: 140px;
      }

      .tarjeta p {
        top: -15px;
        left: 85px;
        font-weight: 500; 
      }

      .tarjetavaloracion {
        top: 37px;
        left: 40px;
      }

      .tarjetaicono {
        left: 89px;
        top: 94px;
      }

    
}
